body {
    font-family: Arial, sans-serif;
    background-color: aliceblue;
    margin: 0;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    flex:1;
} 
li {
    list-style: none;
    text-decoration: none;
}
a:link {
    text-decoration: none;
    color: #f9faf8;
}

.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: #f9faf8;
    font-size:24px;
    padding: 0 250px;
}

.logo {
    flex-shrink: 0;
}

.header_links {
    display:flex;
    gap:10px;
    font-size:12px;
    flex: 0 0 auto;
}

.under-header .image {
    display:block;
    width:auto;
    height:200px;;
    flex: 0;
}

.under-header {
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px 250px;
    background-color: #1F2937;
    color:#f9faf8;
    gap:10px;
}

.left_pane {
    display:flex;
    flex-direction: column;
    justify-content: center; 
    flex: auto;
    margin-right: 20px;
    gap: 10px;
    width:400px;
}

h1, p {
    margin:0;
}

.heading_mssg {
    font-weight: 1200;
    font-size: 44px;
    width:max-content; 
    
}
.heading_submssg {
    font-size:18px;
    color: #e5e7eb;
    width: 400px;
}

.main_body {
    display:flex;
    flex:1;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
}

.body1 {
    display:flex;
    flex:auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding:0px;
    gap:25px;
    height: 250px;
    margin: 20px 0px;
}

.random {
    font-weight: bold;
    font-size: 26px;
    color: #1f2937
}

.square {
    height: 100px;
    width: 100px;
    background-color: aliceblue;
    border: 3px solid rgb(85, 159, 243);
    border-radius: 12px;
  }

.card_holder {
    display:flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width:180px;

}
.square_holder {
    display:flex;
    gap: 30px;
}

.card {
    text-align: center;
    color:#1F2937
}

.body2 {
    display:inline-block;
    display:flex;
    justify-content: center;
    text-align: center;
    width:100%;
    padding: 20px 0px;
    background-color: #E5E7EB;
}

.quote_holder {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    width:max-content;
}

.quote_text {
    font-size: 24px;
    font-style:italic;
    color: #1F2937;
    flex-wrap:nowrap;
    flex-shrink: 0;
}

.quote_author {
    font-size: 18px;
    padding: 0px 40px;
    font-style: italic;
    align-self: flex-end;
}

.banner {
    box-sizing: border-box;
    margin: 70px 0px;
    width:700px;
    height: 100px;
    background-color: #3882f6;
    border-radius: 10px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px #96aac7;
    padding:20px 50px;
}

.text {
    color: aliceblue;
    font-family: sans-serif; 
}
.first_line {
    font-weight: bold;
    margin-bottom:3px;
}

.signup {
    border: 2px solid aliceblue;
    border-radius: 6px;
    background-color: #3882f6;
    width:90px;
    height: 30px;
    color:aliceblue;
    font-family: sans-serif;
    font-weight: bold;
    font-size:14px;
}
.signup1 {
    border: none;
    border-radius: 6px;
    background-color: #3882f6;
    width:90px;
    height: 30px;
    color:aliceblue;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
    
}

.footer {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color:#f9faf8;
    height: 60px;
}
